.tick-nav {
  box-shadow: 0 0px 10px 0px $main-green;
  background-color: var(--main-bg);
}

.nav-theme {
  margin-right: 50px;
}

.nav-searchbar {
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--text-color);
  width: 300px;
  border: none;
  padding: 10px;
  font-size: 15px;
  padding-left: 35px;
  transition: all 0.3s;
  background-color: var(--input-bg);

  &:focus,
  &:hover {
    background-color: var(--main-bg);
    box-shadow: 0 0px 10px 0px $main-green;
  }
}

.results-container {
  position: absolute;
  font-size: 15px;
  top: 40px;
  width: 300px;
  background-color: var(--main-bg);
  border-radius: 3px;
  box-shadow: 0 0px 10px 0px $main-green;
}

.search-result {
  display: flex;
  height: 18px;
  justify-content: space-between;
  padding: 10px;
  transition: color 0.2s;

  &:hover {
    color: $main-green;
  }
}

.res-full {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
