.transaction-form {
  box-sizing: border-box;
  height: 380px;
  width: 270px;
  min-height: 380px;
  min-width: 270px;
  margin: 30px;
  padding: 15px;
  border: 1px solid $main-green;
  border-radius: 3px;
}

.transaction-types {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    padding-bottom: 20px;
  }

  .t-active {
    color: $main-green;
    border-bottom: 2px solid $main-green;
  }

  .t-inactive {
    transition: color 0.3s;

    &:hover {
      color: $main-green;
    }
  }
}

.transaction-info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 10px;
}

.quantity-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  input {
    height: 25px;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: var(--input-bg);

    &:hover {
      background-color: var(--hover-bg);
      box-shadow: 0px 0px 5px $main-green;
    }
  }
}

.transaction-submit {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;

  button {
    padding: 15px 60px;
    font-size: 15px;
    color: white;
    background-color: $main-green;
    border-radius: 3px;

    &:hover {
      box-shadow: 0px 0px 5px black;
    }
  }
}

.bp-label {
  margin-right: 10px;
}
