.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  background-color: black;
  color: white;
}

.carousel-controls {
  font-size: 24px;
  font-weight: 500;
  margin-right: 50px;
  color: grey;
  text-align: right;

  p {
    margin-bottom: 20px;
  }
}

.ctrl-active {
  color: white;
}

.ctrl-inactive {
  &:hover {
    transition: color .2s;
    color: $main-green;
  }
}

.slides {
  position: relative;
  height: 500px;
  width: 830px;
}

.slide {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slide-text {
  width: 480px;
  margin-left: 100px;
}

.slide-heading {
  font-size: 50px;
  font-weight: 600;
  line-height: 72px;
}

.slide-body {
  font-size: 18px;
  line-height: 28px;
}

.hidden {
  display: none;
}

.fade-out {
  animation: fade-out 1s forwards ease-out;
}

.fade-in {
  animation: fade-in 1s forwards ease-out;
}

@keyframes fade-in {
  from {
    filter: blur(15px);
    transform: translateY(250px);
    opacity: 0;
  }

  to {
    filter: blur(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    filter: blur(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    filter: blur(15px);
    transform: translateY(-250px);
    opacity: 0;
  }
}