.login-page-container, .signup-page-container {
  display: flex;
  height: 100vh;
  width: 100%;
  min-height:500px;
}

.signup-page-container {
  justify-content: center;
  align-items: center;
}

.login-bg {
  height: 100%;
  width: 50%;
  object-fit: cover;
  margin: 0;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  min-width: 300px;
  margin: 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.sub-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-error {
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background-color: lighten(red, 30%);
  border: 2px solid red;
  color: red;
}

.form-input {
  border: 1px solid lightgray;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: lighten($main-green, 50%);
  padding: 0 15px;
  height: 48px;
  width: 412px;
  margin-bottom: 20px;
  transition: all .3s;

  &:hover {
    border-color: darken(lightgray, 20%);
    background-color: white;
  }

  &:focus {
    border-color: $main-green;
    background-color: white;
  }
}

.signup-input {
  width: 500px;
}

.login-heading {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-label {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}

.redirect {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 50px;

  .inner-link {
    color: $main-green;
  }
}

.form-button {
  border-radius: 5px;
  font-size: 13px;
  background-color: $main-green;
  color: white;
  padding: 20px 50px;
  margin-right: 20px;

  @include darken-hover-button($main-green, white);
}