.nav-main {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: $nav-height;
  z-index: 2;
  box-shadow: 0 3px 3px 0px grey;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-home {
  margin-left: 40px;
  margin-top: 3px;
  font-size: 18px;
}

.nav-logo {
  font-size: 1.7rem;
  color: $main-green;
}

.nav-img {
  height: 40px;
}

.nav-auth {
  display: flex;
  align-items: center;
}

.nav-signup {
  margin-left: 1.5rem;
}

.search-container {
  position: relative;
}

.nav-searchbar {
  box-sizing: border-box;
  border-radius: 3px;
  width: 300px;
  border: none;
  padding: 10px;
  font-size: 15px;
  padding-left: 35px;
  background-color: $gray;
  transition: all 0.3s;
  background-color: lighten($main-green, 45%);
}

.nav-searchbar:focus {
  background-color: white;
  box-shadow: 0 0px 10px 0px $main-green;
}

.nav-search-icon {
  position: absolute;
  left: 10px;
  top: 11px;
}
