.nav-main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: $nav-height;
  z-index: 2;
  box-shadow: 0 4px 2px -2px gray;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-home {
  margin-left: 40px;
  margin-top: 3px;
  font-size: 18px;
}

.nav-logo {
  font-size: 1.7rem;
  color: $main-green;
}

.nav-img {
  height: 40px;
}

.nav-auth {
  display: flex;
  align-items: center;
}

.nav-signup {
  margin-left: 1.5rem;
}

.search-container {
  position: relative;
}

.nav-searchbar {
  margin-right: 1.5rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  font-size: .9rem;
  padding-left: 3rem;
  background-color: $gray;
  transition: all 0.3s;
}

.nav-searchbar:focus {
  background-color: white;
  padding-right: 30px;
}

.nav-search-icon {
  position: absolute;
  left: 10px;
  top: 9px;
}

.cloud-icon {
  margin-right: 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  @include darken-hover-text(white);
}