.ticker-show-container {
  display: flex;
  justify-content: center;
  // margin-top: $nav-height;
  margin-top: 100px;
  // background-color: #212121;
  // color: white;
}

.ticker-data {
  display: flex;
  flex-direction: column;
}